[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pytelegrambotapi = "*"
django-crispy-forms = "*"
gunicorn = "*"
whitenoise = "*"
django-rest-framework = "*"

[dev-packages]

[requires]
python_version = "3.9"
